body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
}

.nav, .header-container {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.header-container {
    display: flex;
    padding: 60px 80px;
    color: #E5E7EB;
    gap: 40px;
    justify-content: center;
    align-items: center;;
}

.header-content h1 {
    color: white;
}

.header-image {
    width: 400px;
    height: 250px;
}

.button {
    color: white;
    background-color: #3882F6;
    padding: .2rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 3px 0 #3882F6;
}

.button:hover {
    background-color: cornflowerblue;
}

.footer-button {
    border-color: white;
    box-shadow: 0 0 0 0;
}

.image-container {
    display: flex;
    justify-content: space-around;
    padding-left: 20vw;
    padding-right: 20vw;
    gap: 20px;
}

.image-section h3 {
    text-align: center;
}

.item {
    max-width: 100px;
}


.section-image {
    width: 100px;
    height: 75px;
}